*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.bg {
    background-image: url('../utils/Galaxia-scaled.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding: 50px 100px;
    margin-top: -50px;
    

}



