* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.bg {
    background-image: url('../utils/Galaxia-scaled.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 50px 100px;
    margin-top: -50px;
    width: 100vw;

}

.titulo {



    margin-top: -35px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    font-family: 'Koulen', cursive;




}





.texto {
    margin-bottom: 20px;
    background-size: cover;
    color: aliceblue;
    font-size: 19px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}



.subtitulo {
    margin-bottom: 16px;
    background-size: cover;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;


    text-align: center;
}

img {

    width: 200px;
    -webkit-box-shadow: 3px 3px 10px 3px #c679fc;
    -moz-box-shadow: 3px 3px 10px 3px #c679fc;
    box-shadow: 3px 3px 10px 3px #c679fc;
}

.container-cubo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;

}

.container-Video {


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

video {
    width: 10%;
    -webkit-box-shadow: 3px 3px 10px 3px #c679fc;
    -moz-box-shadow: 3px 3px 10px 3px #c679fc;
    box-shadow: 3px 3px 10px 3px #c679fc;

}


.container-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;



}

.skills {
    display: flex;
    justify-content: space-evenly;

}

.hard {
    background-color: aqua;
}

.menu {
    display: flex;
    background-color: #c679fc;
    border-radius: 0px 0px 30px 30px;
   
    
}




